/** CSS special popin */

body {
	padding: 0px 0px;
	color: #737373;
	background: #ffffff;
}

/**** Menu de sous_navigation ****/

#sous_navigation {
    display: none;
}

/**** Contenu ****/

#contenu {
	width: 940px;
}

#contenu_onglets {
	width: 936px;
}